.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

.gallery img {
    width: 360px;
    height: 300px;

}

.btn-back {
    text-decoration: none;
    padding: 5px;
    background: #f6f6fe;
    border-radius: 4px;
    color: #2e2f42;
    border: 2px solid rgb(210, 210, 210);
}